.my-theme {
    /* colors */
    --color-left-column: #ffccd5;
    --color-right-column: #ff4d6d;
    --color-first-name: #a4133c;
    --color-second-name: #590d22;
    --color-font-primary: #373535;
    --collor-border: #373535;
    
    /* sizes */
    --space-left-column: 10px 40px 15px;
    --space-padding-top: 5px;
    --space-line-height: 5px;
    --font-size-primary: 13px;
    }
